<p>my-testtwo works!</p>

<button (click)="count = count + 1">Add +1</button> {{count}}

<h1>JSON FILES:</h1>

<!-- <ul>
    <li *ngFor="let user of users">
     Name:  {{ user.name }}
     id:  {{ user.id }}
    </li>
  </ul> -->
<div class="p-5">
<div class="row ">
  <div class="card "  style="width: 18rem;margin-right: 15px;padding-left: 0px; padding-right: 0px;" *ngFor="let user of users" [style.background-color]="user.backgroundColor">
    <img src="../../assets/images/thumbnail.avif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{user.id}}</h5>
      <p class="card-text">"{{user.name}}"</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
</div>
