<p>my-test works!</p>
<button class="btn btn-primary"> TEST</button>

<div class="container mx-auto">

    <div class="row p-5">

<!-- BASIC STEP-1  -->

    <!-- <div class="card mb-4" style="width: 18rem;margin-right: 10px;">
        <img src="../../assets/images/thumbnail.avif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card mb-4" style="width: 18rem;margin-right: 10px;">
        <img src="../../assets/images/thumbnail.avif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card mb-4" style="width: 18rem;">
        <img src="../../assets/images/thumbnail.avif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div> -->
 <!-- BASIC STEP-1 ENDS  -->   

<!-- BASIC STEP-2  -->

    <!-- <div class="col-md-4 mb-4" *ngFor="let card of cards">
        <div class="card" >
          <img src="../../assets/images/thumbnail.avif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.text }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> -->
<!-- BASIC STEP-2  ENDS-->  

<!-- BASIC STEP-3  -->

    <div class="col-md-4 mb-4" *ngFor="let card of mycards">
        <div class="card" >
          <img src="../../assets/images/thumbnail.avif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.text }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
<!-- BASIC STEP-3 ENDS  -->


</div>


</div>


